/*ОБЩИЕ СТИЛИ*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

/*СТИЛИ ДЛЯ ШАПКИ*/

.company {
  padding-top: 83px;
  padding-bottom: 212px;
  background-image: url("../img/header-logo.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.section-title {
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  color: #6F7188;
  text-transform: uppercase;
}

.container {
  width: 95%;
  max-width: 1040px;
  margin: auto;
}

.about-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-item {
  margin-bottom: 53px;
  display: flex;
}

.about-item-description {
  width: 311px;
}

.description-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #6F7188;
  margin: 0;
}

.description-text {
  font-size: 24px;
  line-height: 28px;
  color: #6F7188;
  margin: 0;
}

.button-company-button {
  background: rgba(255, 47, 52, 1);
  border: none;
  border-radius: 20px;
  padding: 16px 84px;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  margin-top: 404px;
}

.btn-about {
  display: flex;
  justify-content: center;
}

.about-button {
  background: rgba(255, 47, 52, 1);
  border: none;
  border-radius: 20px;
  padding: 16px 84px;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  margin-top: 37px;
  margin-bottom: 81px;
}