/*ОБЩИЕ СТИЛИ*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

/*СТИЛИ ДЛЯ ШАПКИ*/

.company {
  padding-top: 83px;
  padding-bottom: 212px;
  background-image: url("../img/header-logo.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.company-header {
  margin-left: -40px;
  position: relative;
  padding-left: 60px;
}

.company-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -910px;
  width: 77px;
  height: 14px;
  background: linear-gradient(180deg, #FF2F34 0%, #F25D03 100%);
  right: 90px;
  top: 35px;
  margin: 0 auto;
  display: block;
  transform: rotate(-90deg);
}

.menu-list {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
}

.menu-link-top {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12px;
  margin-right: 14px;
}

.menu-link-top:hover {
  color:rgba(242, 93, 3, 1);
}

.menu-link-top-tel {
  text-decoration: none;
  color: rgba(242, 93, 3, 1);
  font-size: 18px;
  line-height: 21px;
}

.menu-link-top-tel:hover {
  font-weight: bold;
}

.menu-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12px;
  margin-right: 5px;
}

.menu-link:hover {
  color: rgba(242, 93, 3, 1);
}

.nav-arrow {
  margin-left: 5px;
}

.section-title, .section-services {
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  color: #6F7188;
  text-transform: uppercase;
}

.section-title {
  position: relative;
  padding-bottom: 38px;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1020px;
  width: 77px;
  height: 14px;
  background: linear-gradient(180deg, #FF2F34 0%, #F25D03 100%);
  right: 0;
  margin: 0 auto;
  display: block;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: auto;
}

.container-swiper {
  width: 100%;
  max-width: 1230px;
  margin: auto;
  position: relative;
}

.about-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-item {
  margin-bottom: 53px;
  display: flex;
}

.about-item-img {
  margin-right: 25px;
}

.about-item-description {
  width: 311px;
}

.description-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #6F7188;
  margin: 0;
}

.description-text {
  font-size: 24px;
  line-height: 28px;
  color: #6F7188;
  margin: 0;
}

.button-company-button {
  background: rgba(255, 47, 52, 1);
  border: none;
  border-radius: 20px;
  padding: 16px 84px;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  margin-top: 404px;
  margin-left: 30px;
}

.btn-about {
  display: flex;
  justify-content: center;
}

.about-button {
  background: rgba(255, 47, 52, 1);
  border: none;
  border-radius: 20px;
  padding: 16px 84px;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  margin-top: 37px;
  margin-bottom: 81px;
}

/*СТИЛИ БЛОКА НАШИ УСЛУГИ*/

.services {
  background: #F7F3F3;
  position: relative;
}

.section-services {
  margin: 0;
  padding-top: 69px;
}

.section-text {
  color: #6F7188;
  font-size: 36px;
  line-height: 42px;
  margin: 18px 0px 60px;
  position: relative;
  padding-bottom: 38px;
}

.section-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1020px;
  width: 77px;
  height: 14px;
  background: linear-gradient(180deg, #FF2F34 0%, #F25D03 100%);
  right: 0;
  margin: 0 auto;
  display: block;
}

.swiper-slide, .projects-slide {
  margin-bottom: 39px;
}

.projects-slide {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.project-image {
  width: 49%;
}

.slider, .slider-design, .slider-production {
  display: flex;
}

.slider-design {
  flex-direction: row-reverse;
}

.slider-production {
  flex-direction: row-reverse;
}

.project-text {
  background: #fff;
  width: 49%;
  margin-left: 21px;
}

.project-text-design {
  background: #fff;
  width: 49%;
  margin-left: 0;
  margin-right: 21px;
}

.project-text-production {
  background: #fff;
  width: 49%;
  margin-left: 0;
  margin-right: 21px;
}

.project-title {
  color: #FF2F34;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  padding-left: 23px;
  margin: 25px 0;
}

.project-time {
  display: flex;
  margin-bottom: 24px;
}

.project-icon {
  padding-right: 8px;
}

.ecllipse1 {
  width: 38px;
  height: 38px;
  background: linear-gradient(180deg, #FF2F34 0%, #F25D03 100%);
  border-radius: 50%;
}

.ecllipse2 {
  width: 22px;
  height: 22px;
  background: linear-gradient(180deg, #FF2F34 0%, #F25D03 100%);
  border-radius: 50%;
  margin-left: 16px;
}

.ecllipse3 {
  width: 14px;
  height: 14px;
  background: linear-gradient(180deg, #FF2F34 0%, #F25D03 100%);
  border-radius: 50%;
  margin-left: 8px;
}

.ecllipse1-design {
  width: 38px;
  height: 38px;
  background: linear-gradient(180deg, #FF2F34 0%, #F25D03 100%);
  border-radius: 50%;
  margin-left: 28px;
}

.ecllipse2-design {
  width: 22px;
  height: 22px;
  background: linear-gradient(180deg, #FF2F34 0%, #F25D03 100%);
  border-radius: 50%;
  margin-left: 41px;
}

.ecllipse3-design {
  width: 14px;
  height: 14px;
  background: linear-gradient(180deg, #FF2F34 0%, #F25D03 100%);
  border-radius: 50%;
  margin-left: 25px;
}

.project-paragraph {
  font-size: 24px;
  line-height: 28px;
  color: #6F7188;
  margin: 0;
}

.first-par {
  padding-top: 12px;
  margin-left: 20px;
}

.second-par {
  margin-left: 20px;
}

.second-par-production {
  margin-left: 20px;
  padding-bottom: 50px;
}

.third-par {
  margin-left: 38px;
}

.first-par-design {
  padding-top: 12px;
  margin-left: 20px;
}

.second-par-design {
  margin-left: 45px;
}

.third-par-design {
  margin-left: 20px;
  font-size: 22px;
}

/*КАРУСЕЛЬ ДЛЯ БЛОКА НАШИ УСЛУГИ*/

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: center;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev {}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

/* Конкретный слайдер*/



/*СТИЛИ ДЛЯ БЛОКА ТАРИФЫ*/

.tariffs {
  margin: 0;
  padding-top: 69px;
  background-image: url(../img/tariffs-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.section-tariffs-title {
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  color: #6F7188;
  text-transform: uppercase;
  position: relative;
  margin-top: 0;
}

.section-tariffs-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1020px;
  width: 77px;
  height: 14px;
  background: linear-gradient(180deg, #FF2F34 0%, #F25D03 100%);
  right: 0;
  margin: -53px auto;
  display: block;
}

.card {
  margin-top: 324px;
}

/*СТИЛИ ДЛЯ БЛОКА НАША КОМАНДА*/

.team {
  background-color:#F6F3F3;
}

.card-team {
  display: flex;
  justify-content: space-between;
}

.section-team-title {
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  color: #6F7188;
  text-transform: uppercase;
  position: relative;
  margin-top: 0;
  padding-top: 80px;
  margin-bottom: 142px;
}

.section-team-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1020px;
  width: 77px;
  height: 14px;
  background: linear-gradient(180deg, #FF2F34 0%, #F25D03 100%);
  right: 0;
  margin: -53px auto;
  display: block;
}

.team-card-img {
  display: block;
}

.team-card-title {
  background-color: #FF2F34;
  width: 317px;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color:#FFFFFF;
  font-weight: normal;
  margin-top: 0;
  padding-top: 8px;
}

.team-card-text {
  width: 317px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #6F7188;
}

.team-btn {
  font-size: 12px;
  line-height: 14px;
  color: #CBC0C7;
  text-decoration: none;
}

/*СТИЛИ ДЛЯ БЛОКА ПОРТФОЛИО*/

.portfolio {
  background-color: #000000;
}

.section-portfolio-title {
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-top: 120px;
  position: relative;
  padding-bottom: 55px;
  margin: 0;
}

.section-portfolio-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1020px;
  width: 77px;
  height: 14px;
  background: linear-gradient(180deg, #FF2F34 0%, #F25D03 100%);
  right: 0;
  margin: 0 auto;
  display: block;
}

.portfolio-cards {
  margin-top: 240px;
  padding-bottom: 112px;
  position: relative;
}

.portfolio-cards .slick-arrow {
  position: absolute;
  top: 70%;
  margin: -80px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.portfolio-cards .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/ptf-btn-left.svg) 0 0 / 100% no-repeat;
  border: none;
}

.portfolio-cards .slick-arrow.slick-next {
  right: 0;
  background: url(../img/ptf-btn-right.svg) 0 0 / 100% no-repeat;
  border: none;
}

.portfolio-cards .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding-left: 500px;
  margin-top: 60px;
  margin-bottom: 44px;
}
.portfolio-cards .slick-dots li{
  list-style: none;
  margin: 0 8px;
}
.portfolio-cards .slick-dots li button{
  font-size: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #CBC0C7;
  border: none;
}

.portfolio-cards .slick-dots li.slick-active button {
  background-color: #6F7188;
}


/*СТИЛИ ДЛЯ БЛОКА ОТЗЫВЫ*/

.section-rewiews-title {
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  color: #6F7188;
  text-transform: uppercase;
  padding-top: 120px;
  position: relative;
  padding-bottom: 55px;
  margin: 0;
}

.section-rewiews-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1020px;
  width: 77px;
  height: 14px;
  background: linear-gradient(180deg, #FF2F34 0%, #F25D03 100%);
  right: 0;
  margin: 0 auto;
  display: block;
}

.rewiews-container {
  background-color: rgba(247, 243, 243, 0.8);
  border: 1px solid #CBC0C7;
  margin-top: 112px;
  margin-bottom: 121px;
  margin-left: 65px;
  width: 1102px;
}

.rewiews-container .slick-arrow {
  position: absolute;
  top: 70%;
  margin: -80px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.rewiews-container .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/left-arrow.svg) 0 0 / 100% no-repeat;
  border: none;
}

.rewiews-container .slick-arrow.slick-next {
  right: 0;
  background: url(../img/right-arrow.svg) 0 0 / 100% no-repeat;
  border: none;
}

.rewiews-container .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding-left: 500px;
  margin-top: 60px;
  margin-bottom: 44px;
}
.rewiews-container .slick-dots li{
  list-style: none;
  margin: 0 8px;
}
.rewiews-container .slick-dots li button{
  font-size: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #CBC0C7;
  border: none;
}

.rewiews-container .slick-dots li.slick-active button {
  background-color: #6F7188;
}

.rewiews-text-container {
  background-color: rgba(247, 243, 243, 0.8);
  padding: 67px 269px;
  padding-bottom: 0;
}

.rewiews-text-container-title {
  text-transform: uppercase;
  color: #6F7188;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.rewiews-text-container-des {
  color: #6F7188;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.rewiews-text-container-company {
  color: #6F7188;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-weight: bold;
}

.letter {
  display: flex;
  background-color: #6F7188;
  width: 210px;
  height: 36px;
  margin: 0 1721px;
  position: relative;
  align-items: center;
}

.letter-btn {
  padding: 4px 26px;
  font-size: 12px;
  line-height: 14px;
  color:#FFFFFF;
}

/*СТИЛИ ДЛЯ БЛОКА НАШИ КЛИЕНТЫ*/

.clients {
  background-color: #F3F1F1;
}

.section-clients-title {
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  color: #6F7188;
  text-transform: uppercase;
  padding-top: 120px;
  position: relative;
  padding-bottom: 55px;
  margin: 0;
}

.section-clients-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1020px;
  width: 77px;
  height: 14px;
  background: linear-gradient(180deg, #FF2F34 0%, #F25D03 100%);
  right: 0;
  margin: 0 auto;
  display: block;
}

.logo-container {
  display: flex;
  margin-top: 177px;
  justify-content: space-between;
  padding-bottom: 117px;
}

.clients-img {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.clients-img:hover {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.logo-container {
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
}

.logo-container .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -80px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.logo-container .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/left-arrow.svg) 0 0 / 100% no-repeat;
  border: none;
}

.logo-container .slick-arrow.slick-next {
  right: 0;
  background: url(../img/right-arrow.svg) 0 0 / 100% no-repeat;
  border: none;
}

/*СТИЛИ ДЛЯ БЛОКА ЗАКАЗАТЬ*/

.order {
  background-color: #000000;
}

.section-order-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-top: 120px;
  position: relative;
  padding-bottom: 55px;
  margin: 0;
  margin-left: 113px;
}

.order-title-text {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
  margin-left: 113px;
}

.order-block {
  display: flex;
  margin-left: 113px;
}

.contacts-form {
  max-width: 500px;
  margin-right: 65px;
}

.input {
  width: 496px;
  background-color: #C4C4C4;
  border-radius: 10px;
}

.input-name {
  padding: 16px 342px 18px 22px;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 28px;
}

.input-phone {
  padding: 16px 260px 18px 22px;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 28px;
}

.form-button {
  background: rgba(255, 47, 52, 1);
  border: none;
  border-radius: 20px;
  padding: 22px 52px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  width: 352px;
  margin-left: 70px;
}

.contacts-form-text-consent {
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #CBC0C7;
  margin-top: 17px;
  position: relative;
  padding-bottom: 28.5px;
}

.contacts-form-text-consent::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 496.5px;
  height: 0px;
  right: 0;
  margin: 0 auto;
  display: block;
  border: 1px solid #CBC0C7;
}

.contacts-form-text-messengers {
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #CBC0C7;
  margin-bottom: 44px;
  margin-top: 15.5px;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 97px;
}

.social-link {
  margin: 0 12.5px;
}

.contacts-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.contacts-inst {
  margin-bottom: 22px;
}

.contacts-tel {
  margin-bottom: 22px;
}

.contacts-titles {
  color: rgba(255, 47, 52, 1);
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.tel-links, .inst-link, .mail-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
}

.tel-links:hover {
  text-decoration: underline;
}

.inst-link:hover {
  text-decoration: underline;
}

.mail-link:hover {
  text-decoration: underline;
}

/*СТИЛИ ДЛЯ ПОДВАЛА*/

.footer-section {
  background-color: #6F7188;
}

.footer-container {
  padding-top: 109px;
  display: flex;
}

.logo {
  margin-right: 62px;
}

.adress-footer {
  width: 204px;
  margin-right: 20px;
}

.footer-titles {
  margin-top: 0;
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
}

.adress-footer-text {
  font-size: 18px;
  line-height: 21px;
}

.contacts-mail-footer-links {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
}

.contacts-mail-footer-links:hover {
  text-decoration: underline;
}

.contacts-tel-footer-links {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
}

.contacts-tel-footer-links:hover {
  text-decoration: underline;
}

.contacts-tel-footer {
  width: 204px;
  margin-right: 20px;
}

.contacts-mail-footer {
  width: 204px;
}

.copyright {
  margin-top: 31px;
  padding-bottom: 47.5px;
}

.copyright-text {
  margin: 0;
  font-size: 11px;
  line-height: 13px;
}